[submodule "deps/yaml-cpp"]
	path = deps/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "deps/hypre"]
	path = deps/hypre
	url = https://github.com/Exawind/hypre.git
    ignore = untracked
